body {
    text-align: left !important;
    background-color: white;
}

h2 > a {
    font-size: 12px;
}

/* banners */
body.search #page-header hgroup {
    background: url("../images/fishmap-banner-find-fishes.jpg") white center no-repeat;
}

body.attribution #page-header hgroup {
    background: url("../images/fishmap-banner-modelled-fish.jpg") white center no-repeat;
}

#page-header hgroup {
    height: 136px;
    color: transparent;  /* only for text readers - visual title is in the banner image */
}

#page-header .inner {
    padding-top: 0;
}

#breadcrumb {
    margin-top: -15px;
    color: #007c84;
    font-weight: bold;
    font-size: 1.2em;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

/* coloured header requires white links */
.landing #page-header hgroup a:link, .landing #page-header hgroup a:visited {
    color: white;
}

#search {
    float: left;
    width: 370px;
}

#map {
    float: right;
    width: 600px;
}

/* search sections */
p.searchInstructions {
    padding-bottom: 15px;
    font-size: 14px;
}

section.searchGroup {
    margin: 10px 30px 0 10px;
    padding: 0 0 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px #e8e8e7;
    -webkit-box-shadow: 10px 10px 5px #888888;
    box-shadow: 0px 0px 6px #c0c0c0;
}

color-test {
    color: #DF4A21;
}

.mainLabel {
    font-weight: bold;
    color: #007c84;
    font-size: 1.3em;
}

label {
    padding-right: 4px;
}

.search-block {
    padding-bottom: 15px;
}

#depthTaxonContainer {
    min-width: 910px;
    margin: 20px 30px 0 10px;
    clear: both;
}

#depthSearch {
    margin: 0;
    width: 47%;
    display: inline-block;
    height: 100%;
}

#taxonSearch {
    margin: 0 0 10px 0;
    width: 47%;
    display: inline-block;
    float: right;
    height: 100%;
    /*height: 113px;*/
}

#taxonLeft div {
    float: left;
}

#taxonRight {
    clear: both;
    padding-left: 10px;
    padding-top: 20px;
}

#taxonRight ul {
    /*width: 290px;*/
    padding: 10px 0 0 0;
    list-style: none;
    margin-left: 10px;
    line-height: 1.4em;
}

#regionSearch {
    clear: both;
}

/* family picker */

#familyList {
    margin: 0;
    padding: 0;
}

#familyList li {
    display: inline-block;
    padding-right: 3px;
}

#familyList span.delete {
    background: transparent url("../images/skin/remove.png") no-repeat right;
    padding-left: 7px;
    color: #FFFEF7;
}

#familyList span.delete:hover {
    background: transparent url("../images/skin/remove-hover.png") no-repeat right;
    padding-left: 7px;
}

#familyList .ui-combobox {
    position: relative;
    display: inline-block;
}

#family-widget .ui-button-icon-only {
    height: 16px;
    top: 4px;
}

#familyList .ui-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}

#familyList .ui-autocomplete-input {
    margin: 0;
    padding: 1px;
}

#family-widget button {
    padding: 0;
    position: relative;
    top: 1px;
}

#family-widget button img {
    margin:0 !important;
    vertical-align:bottom;
}

ul.ui-menu {
    z-index: 10 !important;
}
/* --- */

span.hint {
    font-size: 0.9em;
}

#locality {
    margin-right: 20px;
}

div.advanced {
    display: none;
}

div.top-pad {
    padding-top: 4px;
}

#depthSearch div.advanced {
    padding-bottom: 15px;
}

section.searchGroup h3 {
    position: relative;
    top: -10px;
    padding-bottom: 3px;
}

section.searchGroup h3 span {
    padding: 0 8px;
    background-color: #FFFEF7;
}

fieldset {
    margin-top: 10px;
    display: inline;
    padding-right: 10px;
}

button.advanced {
    float: right;
    font-size: 12px;
    background: transparent url("images/double-down-arrow.png") no-repeat 0 1px;
    border: none;
    position: relative;
    top: -20px;
    padding-left: 16px;
    padding-right: 0;
    margin-left: 0;
}

button.simpleButton {
    font-size: inherit;
    background: none;
    border: none;
    text-decoration: underline;
}

span.toggleAdvanced {
    color: #007c84;
}

#advWarning {
    font-size: 0.9em;
    color: #8d3015;
    display: none;
}

#advWarning img {
    vertical-align: top;
}

span.or {
    padding: 0 10px;
}

#searchButton {
    border: #007c84 solid thin;
    color: #007c84;
    padding: 1px 6px;
}

#clearButton {
    background: white none;
    color: #007c84;
    padding: 1px 6px;
    border: none;
    text-decoration: underline;
}

button.simpleButton:last-child {
    margin-left: 0 !important;
}

#submit-buttons, #submit-buttons2 {
}

#submit-buttons {
}

#submit-buttons2 {
    padding: 10px 0;
}

#showQueryToggle {
    padding-left: 0;
}

/* widgets */
input.depthInput {
    width: 50px;
    margin-left: 5px;
}

#radiusSlider {
    margin: 0 6px 0 3px;
    width: 180px;
    display: inline-block;
    vertical-align: middle;
}

#radiusDisplay {
    float: right;
    margin-right: 13px;
}

#depthRangeSlider {
    width: 350px;
    margin-top: 6px;
}

#imcra {
    margin: 0 0 4px 0;
}

#myLayer {
    margin: 0 0 4px 0;
}

/*
#capad2014 {
    margin: 0 0 4px 0;
}
*/

/* results */
#searchResults {
    margin: 20px 10px 0 0;
    padding: 8px;

    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #A7D4D6 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #A7D4D6 100%);

    /* Opera */
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #A7D4D6 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #A7D4D6));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #A7D4D6 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to left, #FFFFFF 0%, #A7D4D6 100%);

    /*background: linear-gradient(left , rgb(167,212,214) 0%, rgb(255,255,255) 100%);
    background: -o-linear-gradient(left , rgb(167,212,214) 0%, rgb(255,255,255) 100%);
    background: -moz-linear-gradient(left , rgb(167,212,214) 0%, rgb(255,255,255) 100%);
    background: -webkit-linear-gradient(left , rgb(167,212,214) 0%, rgb(255,255,255) 100%);
    background: -ms-linear-gradient(left , rgb(167,212,214) 0%, rgb(255,255,255) 100%);

    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgb(167,212,214)),
        color-stop(1, rgb(255,255,255))
    );*/

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#A7D4D6', endColorstr='#ffffff');/*For IE7-8-9*/
    height: 1%;/*For IE7*/

    border: none;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -icab-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;

}

#searchResults h3 {
    color: #007c84;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

span.sea {
    color: #007c84;
}

#searchResults a {
    padding-left: 11px;
    padding-right: 11px;
    color: #007c84;
    font-weight: bold;
}

span.results {
    font-size: 14px;
    color: black;
    padding-bottom: 5px;
}

#queryDescription {
    padding: 9px 0 0 0;
    color: #444;
}

#queryDisplay {
    padding: 2px 0 0 0;
    color: #999;
    display: none;
    width: 350px;
}
/* .. */

form {
    display: inline;
}

button {
    color: #333A3F;
    font-weight: normal;
    font-size: 150%;
}

.error {
    color: red;
}

/* map */
#map-wrap {
    position:relative;
    /*margin: 20px 20px 0 20px;*/
}

#map-canvas{
    position: relative;
    width: 600px;
    height: 470px;
    display: block;
    margin: 0 auto;
}

#intro-text {
    clear: both;
    padding: 10px 0;
}

#map-controls {
    margin-top: 15px;
}

#control-buttons img {
    padding: 2px;
    vertical-align: middle;
}

#control-buttons li {
    border: 1px solid transparent;
    float: left;
}

#control-buttons li.active {
    border: 1px solid #ccc;
}

#control-buttons li.hover {
    border: 1px dashed #ccc;
}

#map-controls ul {
    list-style: none;
    margin: 2px;;
}

#drawnArea > div {
    display: none;
}

#drawnArea li {
    display: inline-block;
}

#drawnArea label {
    display: inline-block; /* so we can set width */
}

#rectangleArea label {
    width: 50px;
}

#rectangleArea li {
    padding-left: 30px;
}

#circleArea input {
    width: 130px;;
}

#circleArea li {
    padding-left: 20px;
}

#polygonArea li {
    padding-bottom: 10px;
    margin-right: 4px;
}

#polygonArea li:after {
    content: ">"
}

#polygonArea li:last-child:after {
    content: ""
}

#polygonArea input {
    margin-right: -1px;
    width: 85px;
}

#polygonArea input:not(:first-child) {
    margin-right: 4px;
}
/* .. */

/* attribution page */
body.attribution p {
    line-height: 1.5em;
}

#references p {
    padding-bottom: 16px;
}

abbr, acronym {
    border-bottom: .1em dotted;
}